body {
    background-color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
}

header {
    background-image: url("./images/photos/image-header.jpg");
    background-color: red;
    width: 1440px;
    height: 100vh;
    color: white;
}

header h1 {
    text-align: center;
}

nav {
    display: flex;
}

ul li {
    display: inline;
}

@media screen and (max-width: 375px ) {
    body {
        background-color: red;
    }
}